<div ng-show="true || webrtc.error">WebRTC is down.
	<a ng-click="restartWebRTC()">Click here</a> to reinitiate it.
	
	</div>
	
	<div>
		<img src="" />
		City Dashboard
	</div>
	
<button ng-click="markArea()">mark Area</button>



<button ng-click="imageMode.mode='city'">city</button>
<button ng-click="imageMode.mode='pipes'">pipes</button>
<img src="/images/city.png" ng-if="imageMode.mode === 'city'" />
<img src="/images/pipes.png" ng-if="imageMode.mode === 'pipes'" />
<div ng-hide="hide.leakAlert">
	<div>Section 2134</div>
	<div>South Avenue NE</div>
	<button ng-click="audioDispatch()" ng-hide="dispatcher.sent">Send person</button>
	<button ng-click="callDispatcher()" ng-show="dispatcher.sent">call person</button>
	<button ng-click="hangup()" ng-hide="hide.video">end call</button>
</div>
<div ng-hide="hide.video">
	<video id="local" style="width:320px;"></video>
	</br>
	<video id="remote" style="width:320px;"></video>
</div>