/* fecb2f */


button {
	background: #fecb2f!important;
}
.header {
	height: 80px;
	background: #333;
	text-align: center;
	color: #fff;
}
.logo {
	width: 300px;
	height: 80px;
	background: #abcdef;
	float: left;
}
.user {
	width: 300px;
	height: 80px;
	background: rgba(255, 255, 255, .1);
	float: right;
}
.main {
	position: absolute;
	top: 80px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
.city-city {
	background: url(../images/city.png) center center no-repeat;
	background-size: cover;
}
.city-pipes {
	background: url(../images/pipes.png) center center no-repeat;
	background-size: cover;
}
.city-alert {
	background: url(../images/pipes_alert.png) center center no-repeat;
	background-size: cover;
}
.footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 80px;
	background: #333;
}
.button-city {
	background: #ffffff!important;
	height: 100px;
	width: 60px;
	border: 0px;
	float: right;
}
.button-pipes {
	background: #ffffff!important;
	height: 100px;
	width: 60px;
	border: 0px;
	float: right;
}
.city-selected, .city-selected:active, .city-selected.active, .city-selected.focus, .city-selected:focus, button:focus, button.focus {
	background: #fecb2f!important;
}
.web-rtc {
	position: absolute;
	top: 80px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: #000;
	z-index: 10;
}
.web-rtc-banner {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 80px;
	background: #e4e4e4;
}
.web-rtc-remote {
	position: absolute;
	top: 80px;
	left: 0px;
	right: 300px;
	bottom: 0px;
	background: #000;
}
.web-rtc-local {
	position: absolute;
	height: 200px;
	right: 0px;
	width: 300px;
	bottom: 0px;
	background: #000;
}
.web-rtc-info-panel {
	position: absolute;
	top: 80px;
	right: 0px;
	width: 300px;
	bottom: 200px;
	background: #fff;
}